.loader {
  width: 96px;
  height: 96px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #0f766e;
  position: relative;
  animation: load 1.6s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid #0ea5e9;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid #f59e0b;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  width: 96px;
  height: 96px;
  color: #334155;
  text-align: center;
  line-height: 96px;
  font-size: 12px;
  font-weight: 700;
  animation: reverse-load 1.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-load {
  to {
    transform: rotate(-360deg);
  }
}
